@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

$largeFontSize: 1.5em;
$largeFontSize2: 1.2em;
$smallFontSize: 0.5em;

.LiveStream {
    max-width: 98.5%;
    font-family: "Noto Sans TC", sans-serif;
}

.LiveStreamHeader {
    border-top: solid 1px #dcdcdc;
    .mainInfo {
        .title {
            font-size: $largeFontSize;
        }
        .userinfo {
            position: relative;
            .profilePic {
                width: 50px;
                height: 50px;
            }
            .subscribe {
                position: absolute;
                top: 0;
                right: 0;
            }
            .viewers {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}
.LiveStreamControlPanel {
    .panel_bar {
        max-height: 200px;
        overflow: hidden;
        cursor: pointer;
        .carousel > div {
            max-width: 100%;
        }
        .carousel {
            .carousel_card.selected {
                background-color: #fefef1;
            }
            .carousel_card {
                background-color: #f5f5f5;
                height: 200px;
                .carousel_img {
                    max-width: 15%;
                    max-height: 90%;
                }

                .sold {
                    filter: contrast(20%);
                }

                .product_info {
                    padding: 0 0 0 20px;
                    font-size: $smallFontSize;
                    .product_name,
                    .product_price {
                        margin: 10px 0;
                        width: 100px;
                    }
                }
            }

            .tns-slider {
                display: flex;
            }

            .carousel_btn {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                top: 0;
                bottom: 0;
                opacity: 10%;
                user-select: none;
            }
            .carousel_btn:hover {
                opacity: 50%;
            }
            .carousel_btn:focus {
                box-shadow: none;
            }

            .carousel_btn_left {
                left: 0px;
            }

            .carousel_btn_right {
                right: 0px;
            }
        }
    }
}

.LiveStreamBiddingInfo {
    background-color: #fffafa;
    .selected_img {
        max-width: 40%;
        max-height: 135px;
        border: solid 3px gray;
        box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.84);
    }
    .info {
        .row {
            max-height: 200px;
            .col {
                max-height: 200px;
            }
        }
        .start_auction {
            max-width: 500px;
        }
        label {
            max-width: 500px;
        }
    }
    .instant_info {
        padding: 0 0 0 20px;
        .current_price {
            font-size: $largeFontSize;
            width: fit-content;
        }
        .remaining_time {
            font-size: $largeFontSize2;
            width: fit-content;
        }
        .highest_bid_user {
            font-size: $smallFontSize;
            width: fit-content;
        }
    }

    .bid_btn_groups {
        max-width: 450px;
        .input_duration {
            font-size: 16px;
        }

        .unavailable_btn {
            background-color: #708090 !important;
            border-color: #708090 !important;
            cursor: default !important;
            user-select: none;
        }
        .unavailable_btn:focus {
            box-shadow: none;
        }
    }

    .livestreamLogin,
    .livestreamNotSeller,
    .livestreamEdit {
        height: 135px;
        background: radial-gradient(
            circle,
            rgba(236, 233, 230, 1) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        font-size: $largeFontSize2;
    }
}

.LiveStreamDescription {
    border: 1px solid #dcdcdc;
    font-size: $smallFontSize;
    overflow-y: scroll;
}

.LiveStreamChatRoom {
    .LiveStreamChatRoomMainBody {
        border: 1px solid #dcdcdc;
        background-color: #fffafa;

        .rcs-inner-handle {
            background-color: #717171;
        }
        .chat {
            position: relative;
            .head {
                margin: 0 0 10px 0;
                font-size: $largeFontSize;
            }
            .rcs-outer-container {
                border: 1px solid #dcdcdc;
                background-color: #ffffff;
            }
            .dummyLayer {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 60px;
                display: flex;
                justify-content: center;
                .scrollToBottom {
                    user-select: none;
                    z-index: 10;
                    -webkit-animation: fade-in-fwd 0.6s
                        cubic-bezier(0.39, 0.575, 0.565, 1) both;
                    animation: fade-in-fwd 0.6s
                        cubic-bezier(0.39, 0.575, 0.565, 1) both;
                }
            }
            .chat_username {
                font-weight: bold;
                height: fit-content;
            }
            .chat_propic {
                width: 20px;
                height: 20px;
            }

            .footer {
                margin: 10px 0 0 0;
                .inputBox {
                    border: 1px solid #dcdcdc;
                }
                .sendBtn {
                    background-color: transparent;
                    border: none;
                    font-size: $largeFontSize;
                }
            }

            .login_message {
                font-size: $largeFontSize2;
            }
        }
    }
    .dragBtn {
        cursor: row-resize;
        background-color: #1f5dd2;
        color: white;
        font-size: $largeFontSize;
        padding: 10px 0;
        user-select: none;
    }
}

.LiveStreamRecommend {
    a {
        text-decoration: none;
    }
    .recommendAuction {
        cursor: pointer;
        .thumbnail {
            width: 40%;
        }
        .info {
            width: 60%;
            .title,
            .username {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: black;
            }
            .title {
                font-weight: bold;
            }
            .username {
                font-size: $smallFontSize;
            }
        }
    }
}
