@import "~react-pro-sidebar/dist/scss/styles.scss";

.sidebar {
  width: 220px;
  .pro-sidebar {
    min-height: 100vh;
    .pro-sidebar-inner {
      background-color: #1e2833;
    }
  }
  .close_menu {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .sidebar_username {
    text-align: center;
  }
}

.profile_page {
  display: flex;
}

.card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.card_bg_color {
  background-color: #2f4154;
  width: 100%;
  height: 80px;
}
.profile_logo {
  border-radius: 50% !important;
  margin-top: -15%;
  border: 2px solid #ffffff;
}
.my_live_container {
  display: flex;
  flex-wrap: wrap;
  .my_live_products {
    max-height: 100px !important;
  }
}
